{% extends 'index.html' %}
{% load static %}
{% block title %}Liste des Évaluations{% endblock %}
{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Liste des Évaluations</h1>
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="{% url 'acceuil' %}">Accueil <i class="ion-ios-arrow-forward"></i></a></span>
                    <span>Liste des Évaluations <i class="ion-ios-arrow-forward"></i></span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <div class="row justify-content-center mb-4">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4">{{ cours.sigle }} - {{ cours.titre }}</h2>
                <p>Voici les évaluations associées à ce cours.</p>
            </div>
        </div>
        <div class="row">
            {% if evaluations %}
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Titre</th>
                            <th>Type</th>
                            <th>Note Maximale</th>
                            <th>Pondération</th>
                            <th>Date Limite</th>
                            <th>Date de Publication</th> <!-- Nouvelle colonne ajoutée -->
                            <th>Consignes</th>
                            <th>Fichier</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evaluation in evaluations %}
                            <tr>
                                <td>{{ evaluation.titre }}</td>
                                <td>{{ evaluation.type_resultat }}</td>
                                <td>{{ evaluation.note_maximale }}</td>
                                <td>{{ evaluation.ponderation }}%</td>
                                <td>
                                    {% if evaluation.date_limite %}
                                        {{ evaluation.date_limite|date:"d/m/Y H:i" }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td>{{ evaluation.date_publication|date:"d/m/Y H:i" }}</td> <!-- Affichage de la date de publication -->
                                <td>{{ evaluation.consignes|truncatewords:10 }}</td>
                                <td>
                                    {% if evaluation.fichier %}
                                        <a href="{{ evaluation.fichier.url }}" class="btn btn-info btn-sm">Télécharger</a>
                                    {% else %}
                                        Aucun fichier
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.role == 'Enseignant' or user.role == 'Admin' %}
                                        <a href="{% url 'update_evaluation' evaluation.id %}" class="btn btn-primary btn-sm">
                                            <i class="bi bi-pencil-square"></i> Modifier
                                        </a>
                                        <form method="post" action="{% url 'delete_evaluation' evaluation.id %}" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                <i class="bi bi-trash"></i> Supprimer
                                            </button>
                                        </form>
                                        <a href="{% url 'liste_soumissions' evaluation.id %}" class="btn btn-success btn-sm">
                                            <i class="bi bi-upload"></i> Liste des soumissions
                                        </a>
                                    {% elif user.role == 'Etudiant' %}
                                        {% if evaluation.date_limite and evaluation.date_limite < now %}
                                            <p class="text-danger">Date de soumission expirée.</p>
                                        {% else %}
                                            {% if evaluation.soumission_existante %}
                                                <a href="{% url 'soumettre_evaluation' evaluation.id %}" class="btn btn-warning btn-sm">
                                                    <i class="bi bi-pencil-square"></i> Mettre à jour la soumission
                                                </a>
                                            {% else %}
                                                <a href="{% url 'soumettre_evaluation' evaluation.id %}" class="btn btn-success btn-sm">
                                                    <i class="bi bi-upload"></i> Soumettre évaluation
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="col-md-12 text-center">
                    <p>Aucune évaluation disponible pour ce cours.</p>
                </div>
            {% endif %}
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                {% if user.role == 'Enseignant' or user.role == 'Admin' %}
                    <a href="{% url 'create_evaluation' cours.id %}" class="btn btn-secondary btn-lg">
                        <i class="bi bi-plus-lg"></i> Ajouter une évaluation
                    </a>
                {% endif %}

                <!-- Bouton de retour en fonction du rôle de l'utilisateur -->
                {% if user.role == 'Admin' %}
                <a href="{% url 'list_cours' %}" class="btn btn-primary btn-lg mt-3">
                    <i class="bi bi-arrow-left"></i> Retour à la liste des cours
                </a>
                {% elif user.role == 'Enseignant' %}
                <a href="{% url 'mes_cours_professeur' %}" class="btn btn-primary btn-lg mt-3">
                    <i class="bi bi-arrow-left"></i> Retour à mes cours
                </a>
                {% elif user.role == 'Etudiant' %}
                <a href="{% url 'mes_cours_etudiant' %}" class="btn btn-primary btn-lg mt-3">
                    <i class="bi bi-arrow-left"></i> Retour à mes cours
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
