{% extends 'index.html' %}
{% load static %}
{% block title %}Cours{% endblock %}
{% block content %}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Nos Cours</h1>
            <p class="breadcrumbs">
                <span class="mr-2"><a href="{% url 'acceuil' %}">Accueil <i class="ion-ios-arrow-forward"></i></a></span>
                <span>Cours <i class="ion-ios-arrow-forward"></i></span>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
        <div class="container-fluid px-4">
            <div class="row">
                {% for cours in cours_liste %}
                <div class="col-md-3 course ftco-animate">
                    <div class="img" style="background-image: url('{% static 'images/course-default.jpg' %}');"></div> <!-- Placeholder for course images -->
                    <div class="text pt-4">
                        <p class="meta d-flex">
                            <span><i class="icon-user mr-2"></i>{{ cours.professeur.all|join:", " }}</span>
                            <span><i class="icon-table mr-2"></i>{{ cours.salle|default:"Salle non attribuée" }}</span>
                            <span><i class="icon-calendar mr-2"></i>{{ cours.session }}</span>
                        </p>
                        <h3><a href="#">{{ cours.sigle }} - {{ cours.titre }}</a></h3>
                        <p>{{ cours.description|truncatewords:20 }}</p>
                        <p><a href="#" class="btn btn-primary">S'inscrire</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
